<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">OLE Acquisitions :: {{model.rec.title}}</h3>
  </div>
  <div class="panel-body">
    
    <div class="container-fluid">

        <div class="row">
          <div class="col-sm-12">
             {{model.rec.title}} <a href="http://10.0.3.165:8080/olefs/oleportal.do?channelTitle=Search&channelUrl=http://10.0.3.165:8080/olefs/ole-kr-krad/searchEResourceController?viewId=OLEEResourceSearchView&methodToCall=start&backdoorId=admin">ole link</a>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-12">
            <div ui-grid="gridOptions" class="grid myGrid" ui-grid-infinite-scroll ui-grid-resize-columns ui-grid-selection></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <br/>
            {{numSelected}} {{selectedTipps}}
            <br/>
            <div class="pull-right"> <button class="btn btn-success" ng-show="numSelected" ng-click="ingestTipps()">Create eResource Instances</button></div>
          </div>
        </div>

    </div>

  </div>
</div>
