<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">OLE Acquisitions :: {{model.rec.title}}</h3>
  </div>
  <div class="panel-body">
    
    <div class="container-fluid">

        <div class="row">
          <div class="col-sm-12">
             {{model.rec.title}}
          </div>
        </div>


        <div class="row">
          <div class="col-sm-12">
            <div ui-grid="gridOptions" class="grid myGrid" ui-grid-infinite-scroll ui-grid-resize-columns ui-grid-selection></div>
          </div>
        </div>

    </div>

  </div>
</div>
