<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">GOKb eResources Sync</h3>
  </div>
  <div class="panel-body">
    
    <div class="container-fluid">
      <form class="form-horizontal" role="form">
        <div class="row">
    
          <div class="col-sm-6">
            <div class="container-fluid"><div class="row">
              <div class="form-group form-group-sm ">
                <label class="col-sm-3 control-label" for="packageName">Package Name</label>
                <div class="col-sm-9"><input type="text" name="packageName" class="form-control input-lg" ng-model="qparams.qp_name"/></div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="platformName">Platform Name</label>
                <div class="col-sm-9"><input type="text" name="platformName" class="form-control input-lg"/></div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="platformName">Platform Provider</label>
                <div class="col-sm-9"><input type="text" name="platformProvider" class="form-control input-lg"/></div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="platformName">Publisher</label>
                <div class="col-sm-9"><input type="text" name="platformProvider" class="form-control input-lg"/></div>
              </div>
              <div class="form-group form-group-sm">
                <div class="col-sm-3"></div>
                <div class="col-sm-9"><button ng-click="search()" class="btn btn-success">Search</button></div>
              </div>

            </div></div>
          </div>
    
          <div class="col-sm-6">
            <div class="container-fluid"><div class="row">
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="standardIdentifier1">Standard Id #1</label>
                <div class="col-sm-9"><input type="text" name="standardIdentifier1" class="form-control input-lg"/></div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="standardIdentifier2">Standard Id #2</label>
                <div class="col-sm-9"><input type="text" name="standardIdentifier2" class="form-control input-lg"/></div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="title">Title</label>
                <div class="col-sm-9"><input type="text" name="title" class="form-control input-lg"/></div>
              </div>
              <div class="form-group form-group-sm">
                <label class="col-sm-3 control-label" for="titleInstanceType">Title Instance Type</label>
                <div class="col-sm-9"><input type="text" name="titleInstanceType" class="form-control input-lg"/></div>
              </div>
            </div></div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div ui-grid="gridOptions" class="grid myGrid" ui-grid-infinite-scroll ui-grid-resize-columns></div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
